ol {
    margin-left: -40px;
    margin-top: -20px;
    list-style-position: inside;
  }

html {
    background: #C9D8EB;
}
h1, h2 {
    color: rgb(115, 0, 222);
  }

.main {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
     background: rgba(9, 206, 209, 0.494);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


