ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

html {
  background: #C9D8EB;
}

.header {
  text-align: center;
  display: block;
  margin-left: 25%;
  background: #b2ccee;
  border: white solid 3px;
  padding: 20px;
  width: 50%;
}

.skills, .sections {
  text-align: center;
  display: block;
  margin-left: 25%;
  background: #b2ccee;
  border: white solid 3px;
  border-width: 0px 3px 3px;
  padding: 20px;
  width: 50%;
}

.skills {
  text-align: left;
}

.sections {
  font-size: 16pt;
}

h1, h2, a {
  color: #000000;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.timeline {
  position: relative;
  text-align: left;
  margin-top: 3.6rem;
}

.timeline::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 2rem;
  top: 0;
}

.timeline__block {
  position: relative;
  padding-left: 8rem;
  min-height: 10rem;
}

.timeline__bullet {
  background: #0D0A0B;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin-left: -0.75rem;
  box-shadow: 0 0 0 9px #E9E9E9;
  position: absolute;
  left: 2rem;
  top: .3rem;
}

.timeline__header .timeline__timeframe {
  font-size: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: .15rem;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: .9rem;
  font-family: "montserrat-bold", sans-serif;
}

.timeline__header h3 {
  line-height: 1.25;
  margin: 0 0 .3rem 0;
}

.timeline__header h5 {
  margin-top: 0;
}

.timeline__desc p {
  margin: 0;
  padding-bottom: 3rem;
}
